<div class="container-fluid mt-5">
    <div class="container">

   
    <div class="row">
        <div class="col-md-4 col-sm-4">
                <span>ONLINE SHOPPING</span>
            <div class="row mt-3">
                <a href="/men" class="text-decoration-none text-dark">Men</a>
                <a href="/women" class="text-decoration-none text-dark">Women</a>
                <a href="/kid" class="text-decoration-none text-dark">Kids</a>
                <a href="/toy" class="text-decoration-none text-dark">Toys</a>
                <a href="/mobile" class="text-decoration-none text-dark">Mobiles</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
                <span>CUSTOMER POLICIES</span>
            <div class="row mt-3">
                <a href="#" class="text-decoration-none text-dark">Terms of Use</a>
                <a href="#" class="text-decoration-none text-dark">Track Orders</a>
                <a href="#" class="text-decoration-none text-dark">Cancellation</a>
                <a href="#" class="text-decoration-none text-dark">Returns</a>
                <a href="#" class="text-decoration-none text-dark">Privacy policy</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="row">
               <span><strong>100% ORIGINAL</strong>guarantee for all products.</span>
               <span><strong>Return within 30days</strong>of receiving your order</span>
            </div>
        </div>
    </div>
</div>
 </div>