<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
    <a class="navbar-brand merakart" href="/">Merakart</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link me-4"  href="/men">MENS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="/women">WOMENS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="/kid">KIDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="/toy">TOYS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="/mobile">MOBILES</a>
        </li>
    </div>
  </div>
</nav>